h5 {
  font-size: 3em;
}

.temp {
  font-size: 13em;
  text-align: left;
}

.sunTime p {
  text-align: right;
}

.scale {
  text-align: left;
}

.info {
  text-align: left;
}

.infoIcon {
  height: 30vmin;
  filter:  brightness(0) invert(1);
}
