.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-top: 1em;
  margin-right: 1em;
  color: yellow;
  position: relative;
  top: -20px;
}

.App-logo-horizon {
  height: 3vmin;
  filter: brightness(0) invert(1);
  position: relative;
  top: 2px;
}
.App-logo-horizon-alt {
  height: 5vmin;
  filter: brightness(0) invert(1);
  position: relative;
  top: 2px;
}

.date {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.temp {
  font-size: 9em;
  text-align: left;
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.sunTime p {
  text-align: right;
}

.scale {
  text-align: left;
}

.info {
  text-align: left;
}

.underscore {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

.infoIcon {
  height: 30vmin;
  filter: brightness(0) invert(1);
  animation: 1s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(25);
    opacity: 1;
  }
}
